* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: #f0f0f0;
}

.title-header {
    background-color: transparent;
    border-color: 2px solid #333;
}

.title-header h1 {
    font-size: 30px;
    padding: 20px;
}

.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

footer {
    background-color: transparent;
    color: #333;
    border-bottom: 2px solid #333;
}